.svy-wrapper > * > .svy-extra-listcomponent {
	height: 100%;
	width: 100%;
	overflow: auto;
}

.svy-extra-listcomponent {
	overflow: auto;
}

.svy-extra-listcomponent-reverse {
    display: flex;
    flex-flow: column-reverse;
}